@tailwind base;
@tailwind components;
@tailwind utilities;


/* #A5B2BD, #88A9C#, #4A596A, #2B4257, #1E3957, #14202E 

1. core color  of the website
#14202E 

2. secondary-color
#2B4257

3. goden-yellow
#FFDF00 
*/



/* Golden Yellow Text */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* , body {
   /* font-family: "Open Sans", sans-serif; */
   font-family: "Poppins", sans-serif;
   font-weight: 400;
}

body {
  background: #DFEDFF;
  font-family: "Poppins", sans-serif;
}

.text-rblue {
  /*old  color:#002570 !important; */
  color:#14202E !important;
}

.bg-rblue {
  /*old background:#002570; */
  background:#14202E !important;
}

.text-secondary {
  color: #2B4257; 
}

.bg-secondary {
  background: #2B4257; 
}

.text-goldenyellow{
  color:#FFDF00 !important;
}

.bg-goldenyellow{
  background:#FFDF00 !important;
}

.bg-color {
  background: #FFDF00;
}

/*  Dodger Blue */
.text-dblue{
  color:#007eff;
}

.text-darkblue {
  color:#002570;
}

.bg-darkblue {
  background: #002570;
}

.bg-dblue {
  background:#007eff; 
}

.container-xl {
  width:1280px !important;
}

@media (max-width: 1279px) {
  .container-xl {
    width: 100% !important;
  }
}


.star-img {
  animation: rotateme 8s linear infinite;
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mediic-btn a {
    padding: 16px 35px;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    font-family: "Albert Sans";
    border-radius: 32px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    overflow: hidden;
    border: 1px solid #007eff;
    background-color: #fff;
  }
  
  .mediic-btn a:after {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #fff;
    position: absolute;
    content: attr(data-text);
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #007eff;
    background-image: url(./assets/mask-btn2.png);
    -webkit-mask: url(./assets/mask-btn2.png);
    mask: url(./assets/mask-btn2.png);
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    animation: mask_animation_2 0.7s steps(22) forwards;
    z-index: -1;
  }
  
  .mediic-btn a i {
    padding-left: 7px;
    position: relative;
    top: 3px;
    transform: rotate(-45deg);
    display: inline-block;
  }
  
  .mediic-btn a:hover:after {
    animation: mask_animation 0.7s steps(22) forwards;
  }
  
  .mediic-btn a:hover {
    color: var(--secondary-color);
  }
  
  @keyframes mask_animation {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  
  @keyframes mask_animation_2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }


  
  .button-reflection {
    position: relative;
    /* display: inline-block;
    padding: 25px 50px; */
    overflow: hidden;
  }
  
  .reflection-glow {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    animation: slide 2s infinite linear;
    transform: rotate(45deg) scale(1.5);
    opacity: 0.4;
  }
  
  .border-top,
  .border-left,
  .border-bottom,
  .border-right {
    position: absolute;
    background: #fff;
  }
  
  .border-top {
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    animation: expandX 2s infinite ease-in-out;
  }
  
  .border-left {
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    animation: expandY 2s infinite ease-in-out;
  }
  
  .border-bottom {
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    animation: expandXReverse 2s infinite ease-in-out;
  }
  
  .border-right {
    bottom: 0;
    right: 0;
    width: 1px;
    height: 0;
    animation: expandYReverse 2s infinite ease-in-out;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes expandX {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  
  @keyframes expandY {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }
  
  @keyframes expandXReverse {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  
  @keyframes expandYReverse {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }
  